<?xml version = "1.0" encoding = "UTF-8"?>

<!--DEVELOPMENT -->
<beans
        profile = "development"

        xmlns           = "http://www.springframework.org/schema/beans"
        xmlns:xsi       = "http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context   = "http://www.springframework.org/schema/context"
        xmlns:jpa       = "http://www.springframework.org/schema/data/jpa"
        xmlns:mvc       = "http://www.springframework.org/schema/mvc"
        xmlns:tx        = "http://www.springframework.org/schema/tx"
        xmlns:jdbc      = "http://www.springframework.org/schema/jdbc"
        xsi:schemaLocation = "http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd"
        >
    <context:annotation-config />

    <!-- Scans the classpath for @Components to deploy as beans -->
    <context:component-scan base-package = "com.valentine1996.pharmacy" />

    <!-- Configures the @Controller programming model -->
    <mvc:annotation-driven />

    <!-- Handles HTTP GET requests for /resources/** by efficiently serving up
	    static resources in the ${webappRoot}/resources/ directory
    -->
    <mvc:resources mapping = "/resources/**" location = "/resources/" />
    
    <!-- SECTION :: PERSISTANCE(Hibernate) -->
    <jpa:repositories base-package = "com.valentine1996.pharmacy" />

    <!-- Data source -->
    <bean
            id = "dataSource"
            class = "org.springframework.jdbc.datasource.DriverManagerDataSource"
            >
        <property name = "driverClassName" value = "com.mysql.jdbc.Driver" />
        <property
                name = "url"
                value = "jdbc:mysql://localhost:3306/pharmacy_finance?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;sessionVariables=storage_engine=InnoDB&amp;zeroDateTimeBehavior=convertToNull"
                />
        <property name = "username" value = "valentine" />
        <property name = "password" value = "valentine" />
    </bean>

    <bean
            id = "jpaVendorAdapter"
            class = "org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
            >
        <property name = "showSql" value = "true" />
        <property name = "generateDdl" value = "true" />
        <property name = "database" value = "MYSQL" />
    </bean>

    <bean
            id = "entityManagerFactory"
            class = "org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
            >
        <property name = "dataSource" ref = "dataSource" />
        <property name = "jpaVendorAdapter" ref = "jpaVendorAdapter" />
        <property name = "packagesToScan" value = "com.valentine1996.pharmacy" />
    </bean>

    <bean
            id = "transactionManager"
            class = "org.springframework.orm.jpa.JpaTransactionManager"
            >
        <property name = "entityManagerFactory" ref = "entityManagerFactory" />
    </bean>

    <tx:annotation-driven
            transaction-manager = "transactionManager"
            proxy-target-class = "true"
            />

</beans>